*{padding: 0;margin: 0;box-sizing: border-box;text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;}

h1{
color: white;
background-color: darkred;
    padding: 30px;
    text-transform: uppercase;
}

section{
    padding: 20px 0px 20px 0px;
    background-color: darkgray;
}

p{
    padding-bottom: 10px;
}

h3{
    padding-bottom: 10px;
    text-transform: uppercase;
}

header{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    background-color: gray;
}

nav{
    padding: 20px;
}

ul{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

li{
    list-style: none;
    display: flex;
}

a{
    color: black;
}

.logo{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 20px;}

.logo a{
    color: darkred;
}

h4{
    border: 1px solid black;
    margin: 10px;
}